<%- include('../partials/header')%>
    <title><%= title %></title>
</head>
<body>
    <%- include('../partials/navbar')%>



    <h1 class="mb-3">Create a new profile </h1>
<!--    
        <form  class="col-6 mx-auto" action="/profiles/<%=category %>" method="post">
            <div>
                <input type="text" name="name" id="name" placeholder="Full name">
            </div>
            <br>
            <div>
                 
                <input type="text" name = "<%=keys[2] %>" id="<%=keys[2] %>" placeholder="<%=keys[2] %>">
            </div>
            <br>
            <div>
                
                <input type="number" name="age"    id="age" placeholder="Age">
            </div>
            <br>
            <div>
                
                <input type="text" name="email" id="email" placeholder="E-mail Address">
            </div>
            <div class="col-2">
                <button type="submit" class="btn btn-success ms-3 mt-3 ">Submit</button>

            </div>
            
        </form> -->

    

    <form class="d-grid gap-3 col-6 mx-auto" action="/profiles/<%=category %>" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Full name</label>
          <input type="text" class="form-control" id="name" name="name">
          
        </div>
        <div class="mb-3">
            <label for="<%=keys[2] %>" class="form-label"><%=keys[2] %></label>
            <input type="text" class="form-control" id="<%=keys[2] %>" name="<%=keys[2] %>">
          </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" id="age" name="age">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
      </form>
    
</body>
<%- include('../partials/footer') %>
</html>