<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Farm</title>
  </head>
  <body>
    <h1>Show details of <%=farm.name %></h1>
    <ul>
        <li>City: <%=farm.city %></li>
        <li>E-mail: <%= farm.email %></li>
    </ul>
    <a href="/farms/<%=farm.id %>/edit"
      ><button type="submit">Edit</button></a
    >
    <br />
    <form method="POST" action="/farms/<%=farm.id %>?_method=DELETE">
      <button type="submit">Delete</button>
    </form>

    <a href="/products/">All Farms</a>
  </body>
</html>
