<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Show Farm</title>
  </head>
  <body>
    <h1><%=farm.name %></h1>
    <ul>
      <li>City: <%=farm.city %></li>
      <li>E-mail: <%= farm.email %></li>
    </ul>
    <h2>Products</h2>
    <% for (let p of farm.products) {%>
        <ul>
            <a href="/products/<%=p.id %>"><li><%= p.name %></li></a>
        </ul>
        
        <% } %>

    <!-- <a href="/farms/<%=farm.id %>/edit"><button type="submit">Edit</button></a>
    <br /> -->
    
    <a href="/farms/<%=farm.id %>/products/new">Add a product</a>
    <br />
    <a href="/farms/">All Farms</a>
    <form method="POST" action="/farms/<%=farm.id %>?_method=DELETE">
        <button type="submit">Delete Farm</button>
      </form>
  </body>
</html>
